In [1]:
import pandas as pd

sales = pd.read_csv("/kaggle/input/walmart-sales/Walmart_Sales.csv", index_col = 0)
sales.head()

,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
Store,,,,,,,
1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

# Dropping duplicates

Removing duplicates is an essential skill to get accurate counts because often, you don't want to count the same thing multiple times. In this exercise, you'll create some new DataFrames using unique values from sales.

sales is available and pandas is imported as pd.


* Remove rows of sales with duplicate pairs of store and type and save as store_types and print the head.
* Remove rows of sales with duplicate pairs of store and department and save as store_depts and print the head.
* Subset the rows that are holiday weeks using the is_holiday column, and drop the duplicate dates, saving as holiday_dates.
* Select the date column of holiday_dates, and print.

In [2]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset = ["Fuel_Price", "CPI"])
print(store_types.head())

             Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
Store
1      05-02-2010    1643690.90             0        42.31       2.572
1      12-02-2010    1641957.44             1        38.51       2.548
1      19-02-2010    1611968.17             0        39.93       2.514
1      26-02-2010    1409727.59             0        46.63       2.561
1      05-03-2010    1554806.68             0        46.50       2.625

              CPI  Unemployment
Store
1      211.096358         8.106
1      211.242170         8.106
1      211.289143         8.106
1      211.319643         8.106
1      211.350143         8.106

In [3]:
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset = ["Unemployment"])
print(store_depts.head())

             Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
Store
1      05-02-2010    1643690.90             0        42.31       2.572
1      02-04-2010    1594968.28             0        62.27       2.719
1      02-07-2010    1492418.14             0        80.91       2.669
1      01-10-2010    1453329.50             0        71.89       2.603
1      07-01-2011    1444732.28             0        48.27       2.976

              CPI  Unemployment
Store
1      211.096358         8.106
1      210.820450         7.808
1      211.223533         7.787
1      211.671989         7.838
1      211.404742         7.742

In [4]:

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales["Holiday_Flag"] == True].drop_duplicates(subset="Date")

# Print date col of holiday_dates
print(holiday_dates)

             Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
Store
1      12-02-2010    1641957.44             1        38.51       2.548
1      10-09-2010    1507460.69             1        78.69       2.565
1      26-11-2010    1955624.11             1        64.52       2.735
1      31-12-2010    1367320.01             1        48.43       2.943
1      11-02-2011    1649614.93             1        36.39       3.022
1      09-09-2011    1540471.24             1        76.00       3.546
1      25-11-2011    2033320.66             1        60.14       3.236
1      30-12-2011    1497462.72             1        44.55       3.129
1      10-02-2012    1802477.43             1        48.02       3.409
1      07-09-2012    1661767.33             1        83.96       3.730

              CPI  Unemployment
Store
1      211.242170         8.106
1      211.495190         7.787
1      211.748433         7.838
1      211.404932         7.838
1      212.936705         7.742
1      215.861056         7.962
1      218.467621         7.866
1      219.535990         7.866
1      220.265178         7.348
1      222.439015         6.908

Dazzling duplicate dropping! The holiday weeks correspond to the Superbowl in February, Labor Day in September, Thanksgiving in November, and Christmas in December. Now that the duplicates are removed, it's time to do some counting.

**Counting categorical variables**

Counting is a great way to get an overview of your data and to spot curiosities that you might not notice otherwise. In this exercise, you'll count the number of each type of store and the number of each department number using the DataFrames you created in the previous exercise:

# Drop duplicate store/type combinations

store_types = sales.drop_duplicates(subset=["store", "type"])

# Drop duplicate store/department combinations

store_depts = sales.drop_duplicates(subset=["store", "department"])

The store_types and store_depts DataFrames you created in the last exercise are available, and pandas is imported as pd.


* Count the number of stores of each store type in store_types.
* Count the proportion of stores of each store type in store_types.
* Count the number of stores of each department in store_depts, sorting the counts in descending order.
* Count the proportion of stores of each department in store_depts, sorting the proportions in descending order.

In [5]:
store_types = pd.read_csv("/kaggle/input/stores-area-and-sales-data/Stores.csv", index_col =0
                         )
store_types.head()

           Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
Store ID
1                1659             1961                   530        66490
2                1461             1752                   210        39820
3                1340             1609                   720        54010
4                1451             1748                   620        53730
5                1770             2111                   450        46620

In [6]:
# Count the number of stores of each type
store_counts = store_types["Store_Area"].value_counts()
print(store_counts)

Store_Area
1439    5
1513    5
1458    5
1440    5
1539    5
       ..
1509    1
1339    1
1590    1
2169    1
1387    1
Name: count, Length: 583, dtype: int64

In [7]:
# Get the proportion of stores of each type
store_props = store_types["Store_Area"].value_counts(normalize = True)
print(store_props)

Store_Area
1439    0.005580
1513    0.005580
1458    0.005580
1440    0.005580
1539    0.005580
          ...
1509    0.001116
1339    0.001116
1590    0.001116
2169    0.001116
1387    0.001116
Name: proportion, Length: 583, dtype: float64

In [8]:
# Count the number of stores for each department and sort
dept_counts_sorted = store_types["Store_Sales"].value_counts(sort=True)
print(dept_counts_sorted)

Store_Sales
54590    3
63540    3
74080    2
63660    2
77120    2
        ..
50740    1
77070    1
74730    1
68900    1
54340    1
Name: count, Length: 816, dtype: int64

In [9]:
# Get the proportion of stores in each department and sort
dept_props_sorted = store_types["Store_Sales"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

Store_Sales
54590    0.003348
63540    0.003348
74080    0.002232
63660    0.002232
77120    0.002232
           ...
50740    0.001116
77070    0.001116
74730    0.001116
68900    0.001116
54340    0.001116
Name: proportion, Length: 816, dtype: float64

# What percent of sales occurred at each store type?

While .groupby() is useful, you can calculate grouped summary statistics without it.

Walmart distinguishes three types of stores: "supercenters," "discount stores," and "neighborhood markets," encoded in this dataset as type "A," "B," and "C." In this exercise, you'll calculate the total sales made at each store type, without using .groupby(). You can then use these numbers to see what proportion of Walmart's total sales were made at each type.

sales is available and pandas is imported as pd.


* Calculate the total weekly_sales over the whole dataset.
* Subset for type "A" stores, and calculate their total weekly sales.
* Do the same for type "B" and type "C" stores.
* Combine the A/B/C results into a list, and divide by sales_all to get the proportion of sales by type.

In [10]:
import pandas as pd

# Load the CSV files
stores_df = pd.read_csv('/kaggle/input/walmart-super-market-dataset/Master Data/stores.csv')
train_df = pd.read_csv('/kaggle/input/walmart-super-market-dataset/Master Data/train.csv')

# Merge the two datasets (assuming common column is 'Store')
merged_df = pd.merge(train_df, stores_df, on='Store')

# Save the merged dataframe to a new CSV file
merged_df.to_csv('store.csv', index=False)

print("CSV files merged and saved as 'store.csv'.")

CSV files merged and saved as 'store.csv'.

In [11]:
store_sales = pd.read_csv("/kaggle/working/store.csv", index_col = 0)
store_sales

       Dept        Date  Weekly_Sales  IsHoliday Type    Size
Store
1         1  2010-02-05      24924.50      False    A  151315
1         1  2010-02-12      46039.49       True    A  151315
1         1  2010-02-19      41595.55      False    A  151315
1         1  2010-02-26      19403.54      False    A  151315
1         1  2010-03-05      21827.90      False    A  151315
...     ...         ...           ...        ...  ...     ...
45       98  2012-09-28        508.37      False    B  118221
45       98  2012-10-05        628.10      False    B  118221
45       98  2012-10-12       1061.02      False    B  118221
45       98  2012-10-19        760.01      False    B  118221
45       98  2012-10-26       1076.80      False    B  118221

[421570 rows x 6 columns]

In [12]:
# Calc total weekly sales
sales_all = store_sales["Weekly_Sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = store_sales[store_sales["Type"] == "A"]["Weekly_Sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = store_sales[store_sales["Type"] == "B"]["Weekly_Sales"].sum()

# Subset for type C stores, calc total weekly sales
# sales_C =store_sales[sales["Type"] == "C"]["Weekly_Sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B] / sales_all
print(sales_propn_by_type)

[0.64284903 0.2969624 ]

**Calculations with .groupby()**

The .groupby() method makes life much easier. In this exercise, you'll perform the same calculations as last time, except you'll use the .groupby() method. You'll also perform calculations on data grouped by two variables to see if sales differ by store type depending on if it's a holiday week or not.

sales is available and pandas is loaded as pd.


* Group sales by "type" and "is_holiday", take the sum of weekly_sales, and store as sales_by_type_is_holiday.

In [13]:
# From previous step
sales_sales = store_sales.groupby("Type")["Weekly_Sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = store_sales.groupby(["Type", "IsHoliday"])["Weekly_Sales"].sum()

print(sales_by_type_is_holiday)

Type  IsHoliday
A     False        4.007612e+09
      True         3.234028e+08
B     False        1.847060e+09
      True         1.536410e+08
C     False        3.772478e+08
      True         2.825570e+07
Name: Weekly_Sales, dtype: float64

**Multiple grouped summaries**

Earlier in this chapter, you saw that the .agg() method is useful to compute multiple statistics on multiple variables. It also works with grouped data. NumPy, which is imported as np, has many different summary statistics functions, including: np.min, np.max, np.mean, and np.median.

sales is available and pandas is imported as pd.


* Import numpy with the alias np.
* Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats. Make sure to use numpy functions!
* Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.

In [14]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = store_sales.groupby("Type")["Weekly_Sales"].agg([np.min, np.max, np.mean, np.median])

# Print sales_stats
print(sales_stats)

          min        max          mean    median
Type
A    -4988.94  474330.10  20099.568043  10105.17
B    -3924.00  693099.36  12237.075977   6187.87
C     -379.00  112152.35   9519.532538   1149.67

/tmp/ipykernel_36/1941672815.py:5: FutureWarning: The provided callable <function min at 0x7e8f480cd630> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sales_stats = store_sales.groupby("Type")["Weekly_Sales"].agg([np.min, np.max, np.mean, np.median])
/tmp/ipykernel_36/1941672815.py:5: FutureWarning: The provided callable <function max at 0x7e8f480cd510> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sales_stats = store_sales.groupby("Type")["Weekly_Sales"].agg([np.min, np.max, np.mean, np.median])
/tmp/ipykernel_36/1941672815.py:5: FutureWarning: The provided callable <function mean at 0x7e8f480cde10> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  sales_stats = store_sales.groupby("Type")["Weekly_Sales"].agg([np.min, np.max, np.mean, np.median])
/tmp/ipykernel_36/1941672815.py:5: FutureWarning: The provided callable <function median at 0x7e8f336595a0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales_stats = store_sales.groupby("Type")["Weekly_Sales"].agg([np.min, np.max, np.mean, np.median])

In [15]:
# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = store_sales.groupby("Type")[["Size", "Weekly_Sales"]].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

          min        max          mean    median
Type
A    -4988.94  474330.10  20099.568043  10105.17
B    -3924.00  693099.36  12237.075977   6187.87
C     -379.00  112152.35   9519.532538   1149.67
       Size                                  Weekly_Sales             \
        min     max           mean    median          min        max
Type
A     39690  219622  182231.285486  202505.0     -4988.94  474330.10
B     34875  140167  101818.735827  114533.0     -3924.00  693099.36
C     39690   42988   40535.725286   39910.0      -379.00  112152.35


              mean    median
Type
A     20099.568043  10105.17
B     12237.075977   6187.87
C      9519.532538   1149.67

/tmp/ipykernel_36/1711119260.py:5: FutureWarning: The provided callable <function min at 0x7e8f480cd630> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  unemp_fuel_stats = store_sales.groupby("Type")[["Size", "Weekly_Sales"]].agg([np.min, np.max, np.mean, np.median])
/tmp/ipykernel_36/1711119260.py:5: FutureWarning: The provided callable <function max at 0x7e8f480cd510> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  unemp_fuel_stats = store_sales.groupby("Type")[["Size", "Weekly_Sales"]].agg([np.min, np.max, np.mean, np.median])
/tmp/ipykernel_36/1711119260.py:5: FutureWarning: The provided callable <function mean at 0x7e8f480cde10> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  unemp_fuel_stats = store_sales.groupby("Type")[["Size", "Weekly_Sales"]].agg([np.min, np.max, np.mean, np.median])
/tmp/ipykernel_36/1711119260.py:5: FutureWarning: The provided callable <function median at 0x7e8f336595a0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  unemp_fuel_stats = store_sales.groupby("Type")[["Size", "Weekly_Sales"]].agg([np.min, np.max, np.mean, np.median])
/tmp/ipykernel_36/1711119260.py:5: FutureWarning: The provided callable <function min at 0x7e8f480cd630> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  unemp_fuel_stats = store_sales.groupby("Type")[["Size", "Weekly_Sales"]].agg([np.min, np.max, np.mean, np.median])

**Pivoting on one variable**

Pivot tables are the standard way of aggregating data in spreadsheets.

In pandas, pivot tables are essentially another way of performing grouped calculations. That is, the .pivot_table() method is an alternative to .groupby().

In this exercise, you'll perform calculations using .pivot_table() to replicate the calculations you performed in the last lesson using .groupby().

sales is available and pandas is imported as pd.


* Get the mean weekly_sales by type using .pivot_table() and store as mean_sales_by_type.
* Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.
* Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.

In [16]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = store_sales.pivot_table(values = "Weekly_Sales"  , index = "Type", columns = "IsHoliday" )

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

IsHoliday         False         True
Type
A          20008.746759  21297.517824
B          12153.067752  13346.164062
C           9518.528116   9532.963131

**Fill in missing values and sum values with pivot tables**

The .pivot_table() method has several useful arguments, including fill_value and margins.

fill_value replaces missing values with a real value (known as imputation). What to replace missing values with is a topic big enough to have its own course (Dealing with Missing Data in Python), but the simplest thing to do is to substitute a dummy value.
margins is a shortcut for when you pivoted by two variables, but also wanted to pivot by each of those variables separately: it gives the row and column totals of the pivot table contents.
In this exercise, you'll practice using these arguments to up your pivot table skills, which will help you crunch numbers more efficiently!


* Print the mean weekly_sales by department and type, filling in any missing values with 0.
* Print the mean weekly_sales by department and type, filling in any missing values with 0 and summing all rows and columns.

In [18]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(store_sales.pivot_table(values = "Weekly_Sales", index = "Dept",columns = "Type", fill_value=0))

Type             A             B             C
Dept
1     22956.887886  17990.876158   8951.733462
2     51994.674873  43051.996919  14424.851713
3     13881.033137  12965.414311    820.276818
4     32973.814075  21259.895804  13669.370396
5     26803.448045  21184.602916    767.600774
...            ...           ...           ...
95    97094.026043  41304.769202  50641.564872
96    19900.943552   4745.183226  15766.025431
97    22093.807101   3727.100717  13419.542809
98    10979.816195    319.205901   5479.758054
99      431.443064     25.716667      8.330952

[81 rows x 3 columns]

In [20]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(store_sales.pivot_table(values="Weekly_Sales", index="Dept", columns="Type",fill_value = 0, margins = True))

Type             A             B             C           All
Dept
1     22956.887886  17990.876158   8951.733462  19213.485088
2     51994.674873  43051.996919  14424.851713  43607.020113
3     13881.033137  12965.414311    820.276818  11793.698516
4     32973.814075  21259.895804  13669.370396  25974.630238
5     26803.448045  21184.602916    767.600774  21365.583515
...            ...           ...           ...           ...
96    19900.943552   4745.183226  15766.025431  15210.942761
97    22093.807101   3727.100717  13419.542809  14255.576919
98    10979.816195    319.205901   5479.758054   6824.694889
99      431.443064     25.716667      8.330952    415.487065
All   20099.568043  12237.075977   9519.532538  15981.258123

[82 rows x 4 columns]

Magnificent margin making! You are now armed with pivot table skills that can help you compute summaries at multiple grouped levels in one line of code. Note the subtlety in the value of margins here. The column 'All' returns an overall mean for each department, not (A+B)/2. (A+B)/2 would be a mean of means, rather than an overall mean per department!